<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section  class="rowkorz">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-sh">
                    <div class="card-header text-center">Добавить категорию</div>

                    <th:block th:if="${session.succMsg}">
                        <p th:text="${session.succMsg}" class="text-success fw-bold text-center mt-4"></p>
                        <th:block th:text="${@userService.removeSessionMessage()}"></th:block>
                    </th:block>

                    <th:block th:if="${session.errorMsg}">
                        <p th:text="${session.errorMsg}" class="text-danger fw-bold text-center mt-4"></p>
                        <th:block th:text="${@userService.removeSessionMessage()}"></th:block>
                    </th:block>

                    <div class="card-body vnkorz">
                        <form action="/admin/saveCategory" method="post">
                            <div class="mb-3">
                                Введите название категории
                                <input type="text" name="name" class="form-control">
                            </div>
                            <button class="btn btn-primary col-md-12 btnprodkorz">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-sh">
                    <div class="card-header text-center">Просмотр категорий</div>
                    <div class="card-body vnkorz">
                        <table class="table">
                            <tr>
                                <th scope="col">Категории</th>
                                <th scope="col">Действия</th>
                            </tr>
                            <tr th:each="cat : ${categories}">
                                <td th:text="${cat.name}">Название категории</td>
                                <td>
                                    <a th:href="@{'/admin/loadEditCategory/'+${cat.id}}" class="btn btn-primary btn-sm btnprodkorz">Edit</a>
                                    <a th:href="@{'/admin/deleteCategory/'+${cat.id}}" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
