<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container mt-4">
        <div class="card card-sh">
            <div class="card-header text-center">
                <p class="fs-4 mt-4">Список постов</p>
                <th:block th:if="${session.succMsg}">
                    <p th:text="${session.succMsg}" class="text-success fw-bold text-center mt-4"></p>
                    <th:block th:text="${@userService.removeSessionMessage()}"></th:block>
                </th:block>

                <th:block th:if="${session.errorMsg}">
                    <p th:text="${session.errorMsg}" class="text-danger fw-bold text-center mt-4"></p>
                    <th:block th:text="${@userService.removeSessionMessage()}"></th:block>
                </th:block>

                <hr>
                <div class="col-md-12 p-4">
                    <form action="/admin/items" method="get">
                        <div class="row">
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="ch">
                            </div>
                            <div class="col">
                                <button class="btn btn-primary">Поиск</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th scope="col">N пп</th>
                        <th scope="col">Картинка</th>
                        <th scope="col">Название поста</th>
                        <th scope="col">Категория поста</th>
                        <th scope="col">Действие</th>
                    </tr>
                    <tr th:each="p, c : ${posts}">
                        <th th:text="${c.count}"></th>
                        <td><img th:src="@{'/img/post_img/'+${p.image}}" width="100" alt=""></td>
                        <td th:text="${p.title}"></td>
                        <td th:text="${p.category}"></td>
                        <td>
                            <a th:href="@{'/admin/editItem/'+${p.id}}" class="btn btn-sm btn-primary">Edit</a>
                            <a th:href="@{'/admin/deleteItem/'+${p.id}}" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</section>
</body>
</html>