<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-4">
                <div class="card card-sh">
                    <div class="card-header text-center">Пополнить счет</div>

                    <div class="card-body">
<!--                        <form action="/user/updatePopCard" method="post">-->
	                    <form action="/user/updateCard" method="post">
                            <input type="hidden" name="id" th:value="${card.id}">
                            <div class="mb-3">
                                Введите сумму
                                <label>
                                    <input type="text" name="summa" class="form-control" th:value="${card.summa}">
                                </label>
                            </div>
                            <button class="btn btn-primary col-md-12">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>
