<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<section class = "onas">
	
	<div class = "bl_cont_foto1_onas">
		<div class = "bl_foto1_onas">
			<img  width = "100%" src="img/onas.jpg" alt="">
		</div>
	</div>
	<div class = "bl_cont_text_onas">
		<div class = "bl_text_onas">
			Идея создания пекарни <b>BioBrot</b> проста и сложна одновременно. Мы хотели сделать качественный, полезный и вкусный хлеб. Хлеб, который доставляет удовольствие и дарит тёплые эмоции.
			Хлеб, который понравится и взрослым, и детям. Хлеб, который попробовав раз, непременно захочется снова. Одержимая этим желанием, команда <b>BioBrot</b> начала свой длинный и непростой путь. Поиск правильного зерна и высококачественных ингредиентов, изучение вкусов и ожиданий потребителя, тщательный выбор традиционных рецептур и их проработка, поиск и обучение российских пекарей для работы с дровяной печью – это малая часть того, что нам пришлось решать в начале, то, что входит в круг наших забот и по сей день.
			<b>BioBrot</b> постоянно развивается и совершенствуется, впитывая новые тенденции и проникая вглубь вековых традиций. Каждый новый день – это новый опыт. Каждый хлеб в нашей пекарне – уникален.
			Каждая улыбка покупателя – нам особая награда. Хлеб – это наше ремесло, наша философия и наука.
		</div>
	</div>
	<div class = "bl_cont_video_onas">
		<video controls width = "70%">
			<source src="img/video_bb.mp4" >
		</video>
	</div>
	<div class="comand">
		<div class="wrap">
			<div class="comand__container">
				<!-- ===== comand элемент 1 ====== -->
				<div class="comand__element">
					<div class="comand__element--img">
						<img src="img/aleks.jpg" alt="">
					</div>
					<h1>Александер Курелла</h1>
					<div class="comand__element--description">
						<h3>Основатель</h3>
					</div>
				</div>
				<!-- ===== comand элемент 2 ====== -->
				<div class="comand__element">
					<div class="comand__element--img">
						<img src="img/shurik.jpg" alt="">
					</div>
					<h1>Александер Онаш</h1>
					<div class="comand__element--description">
						<h3>Пекарь-мастер</h3>
					</div>
				</div>
				<!-- ===== comand элемент 2 ====== -->
				<div class="comand__element">
					<div class="comand__element--img">
						<img src="img/alena.jpg" alt="">
					</div>
					<h1>Алена Лунина</h1>
					<div class="comand__element--description">
						<h3>Генеральный директор</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>
